#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Alphabet and Mod-Taps
        default_layer {
            display-name = "Base";
            bindings = <
                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp BSPC
                &mt LCTRL Z &mt LALT X  &kp C       &lt 2 V                 &lt 1 SPACE             &kp B       &kp N       &mt RGUI M
            >;
        };

        // Layer 1: Numbers (shiftable) and Primary Special Characters
        num_sym_layer {
            display-name = "Num/Sym";
            bindings = <
                &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
                &kp TAB     &kp MINUS   &kp LBKT    &kp RBKT    &kp BSLH    &kp GRAVE   &kp SQT     &kp ESC     &kp SEMI    &mt LSHIFT ENTER
                &kp LCAPS   &kp EQUAL   &kp K_COPY  &kp K_PASTE             &trans                  &kp COMMA   &kp DOT     &kp SLASH
            >;
        };

        // Layer 2: Function Keys, Bluetooth Profiles, and Remaining Symbols
        func_bt_layer {
            display-name = "Func/BT";
            bindings = <
                &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10
                &kp F11     &kp F12     &kp PG_DOWN &kp PG_UP   &trans      &trans      &kp LEFT    &kp UP      &kp RIGHT   &kp LSHIFT
                &bt BT_CLR  &bt BT_NXT  &bt BT_PRV  &trans                  &trans                  &kp DOWN    &bootloader &kp ENTER
            >;
        };
    };
};
